*{
margin:0%;
padding:0%;
box-sizing: border-box;
cursor: pointer;
}
html,body{
width: 100%;
height: 100%;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: cornflowerblue;
}
#card{
    height: 400px;
    width: 300px;
    background-color: #fff;
    border-radius: 40px;
    padding: 20px;
    text-align: center;
}
#card img{
    height: 55%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 30px;
}
#card h1{
    font-size:25px ;
    margin: 10px 0;
    font-weight: 800;
}
#card h5{
    font-size: 32px;
    font-weight: 500;
    color: crimson;
    margin-bottom: 20px;
}
#card button{
    background-color: #5f9ea0;
    color: #fff;
    font-weight: 600;
    padding:15px 20px;
    border: none;
    border-radius: 30px;
    margin: 5px;
}
#card button:active{
    scale: 0.95;
}