*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

html,body{
    height: 100%;
    width: 100%;
}

#main{
    height: 100%;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.heading-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

h1{
    font-size: 4vw;
    font-weight: 600;
    color: white;
    cursor: pointer;
    transition: transform 0.5s ease-in-out;
}


.cursor{
    height: 25px;
    width: 25px;
    background-color: white;
    mix-blend-mode: difference;
    border-radius: 50%;
    position: absolute;
    pointer-events: none;
    transition: transform 0.20s linear, background-color 0.2s;
}

.cursor.big { transform: scale(1); }
.cursor.redC { background-color: #ff2e2e; }
.cursor.blueC { background-color: #1e9bff; }
.cursor.greenC { background-color: #3aff40; }

.head:hover{
    transform: scale(1.1);
}
